# Application URLs
BASE_URL=https://www.saucedemo.com/
PRODUCTS=https://www.saucedemo.com/inventory.html
PRODUCT=https://www.saucedemo.com/inventory-item.html?id=0
CART=https://www.saucedemo.com/cart.html
CHECKOUT=https://www.saucedemo.com/checkout-step-one.html
OVERVIEW=https://www.saucedemo.com/checkout-step-two.html
ORDER=https://www.saucedemo.com/checkout-complete.html

# User credentials
STANDARD_USER_NAME=standard_user
STANDARD_USER_PASSWORD=secret_sauce
WRONG_USER_NAME=wrong_user
WRONG_USER_PASSWORD=secret_sauce
LOCKED_USER_NAME=locked_out_user
LOCKED_USER_PASSWORD=secret_sauce

# Browser mode: set to "headless" or "ui"
HEADLESS=headless

# ChromeDriver path (for Docker container)
CHROMEDRIVER_PATH=/usr/bin/chromedriver

